nbformat==5.8.0
rfc3339-validator==0.1.4
appnope==0.1.3
pyrsistent==0.19.3
wcwidth==0.2.6
fqdn==1.5.1
decorator==5.1.1
notebook==6.5.4
Jinja2==3.1.2
pyzmq==25.0.2
jupyter_client==8.2.0
pandocfilters==1.5.0
ptyprocess==0.7.0
isoduration==20.11.0
nbconvert==7.4.0
tinycss2==1.2.1
ipykernel==6.23.1
bleach==6.0.0
webencodings==0.5.1
python-dateutil==2.8.2
attrs==23.1.0
Pygments==2.15.1
asttokens==2.2.1
tornado==6.3.2
python-json-logger==2.0.7
jupyter_server_terminals==0.4.4
defusedxml==0.7.1
pickleshare==0.7.5
stack-data==0.6.2
nest-asyncio==1.5.6
jupyter-events==0.6.3
qtconsole==5.4.3
widgetsnbextension==4.0.7
parso==0.8.3
executing==1.2.0
six==1.16.0
jupyter-console==6.6.3
jsonpointer==2.3
webcolors==1.13
argon2-cffi==21.3.0
prometheus-client==0.16.0
debugpy==1.6.7
arrow==1.2.3
idna==3.4
pycparser==2.21
jupyter_core==5.3.0
comm==0.1.3
pure-eval==0.2.2
ipython==8.13.2
backcall==0.2.0
matplotlib-inline==0.1.6
notebook_shim==0.2.3
terminado==0.17.1
ipython-genutils==0.2.0
QtPy==2.3.1
PyYAML==6.0
beautifulsoup4==4.12.2
packaging==23.1
jupyterlab-pygments==0.2.2
jupyter==1.0.0
MarkupSafe==2.1.2
nbclassic==1.0.0
pexpect==4.8.0
psutil==5.9.5
uri-template==1.2.0
ipywidgets==8.0.6
jupyterlab-widgets==3.0.7
rfc3986-validator==0.1.1
prompt-toolkit==3.0.38
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
sniffio==1.3.0
soupsieve==2.4.1
jupyter_server==2.5.0
anyio==3.6.2
nbclient==0.8.0
fastjsonschema==2.17.1
mistune==2.0.5
websocket-client==1.5.2
platformdirs==3.5.1
jedi==0.18.2
traitlets==5.9.0
cint==1.0.0
kaitaistruct==0.11
kiwisolver==1.4.5
requests==2.32.5
tzdata==2024.1
intervaltree==3.2.1
multidict==6.7.1
click==8.3.1
polyfile-weave==0.5.9
filelock==3.24.1
certifi==2026.2.25
diskcache-weave==5.6.3.post1
jsonschema-specifications==2025.9.1
gql==4.0.0
pydantic==2.12.5
torchvision==0.25.0
pillow==10.3.0
openpyxl==3.1.5
propcache==0.4.1
cryptography==46.0.6
weave==0.52.35
jsonschema==4.26.0
pandas==2.2.2
networkx==3.4.2
fsspec==2026.2.0
yarl==1.23.0
et_xmlfile==2.0.0
graphviz==0.20.3
scikit-learn==1.4.2
pytz==2024.1
pdfminer.six==20260107
cffi==2.0.0
setuptools==57.4.0
fonttools==4.51.0
numpy==1.26.4
scipy==1.13.0
tenacity==9.1.4
httpcore==1.0.9
pyparsing==3.1.2
cachetools==7.0.5
contourpy==1.2.1
sympy==1.14.0
threadpoolctl==3.5.0
h11==0.16.0
protobuf==6.33.6
gitdb==4.0.12
smmap==5.0.3
mpmath==1.3.0
sortedcontainers==2.4.0
matplotlib==3.8.4
abnf==2.2.0
pydantic_core==2.41.5
urllib3==2.6.3
typing_extensions==4.15.0
sklearn==0.0
cycler==0.12.1
fickling==0.1.10
referencing==0.37.0
GitPython==3.1.46
chardet==7.3.0
pip==21.2.3
torch==2.10.0
httpx==0.28.1
sentry-sdk==2.56.0
joblib==1.4.0
backoff==2.2.1
graphql-core==3.2.8
typing-inspection==0.4.2
annotated-types==0.7.0
charset-normalizer==3.4.6
rpds-py==0.30.0
wandb==0.25.1
